body {
    margin: 0px;
    background-image: url(./../images/krasiviyy-fon-dlya-krasivogo-garazha.jpg); 
}
.alllinks {
    width: 17%;
    height: 40px;
    display: inline-block;
    border: 2px dashed rgb(8, 151, 218);
    box-sizing: border-box;
    margin-top: 10px;
    margin-left: 4%;
    margin-right: 4%; 
    padding: 7px;
    text-align: center;
    color:red;
    background-color: lime;
    font-size: 20px;
    border-radius: 50px;
}
.shaddow:hover {
    box-shadow: 0px 0px 40px 30px lime;
}
.unusable:hover {
    opacity: 0.3;
    box-shadow: 0px 0px 50px 30px red;
}
h1 {
    text-align: center;
   
}
.image {
    display: flex;
    justify-content: center;

}

h2 {
    text-align: center;
}
.inline {
    display: inline;
    font-size: 25px;
    margin: 4px;
}
.all {
    display: flex;
    justify-content: center;
}
.under {
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
    padding: 10px;
}
.one {
    background-color: green;
}
.two {
    background-color: greenyellow;
}
.none {
    color: purple;
}
.black {
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
    padding: 10px;
    background-color: black;
}
.white {
    color: white;
}
.block {
    display: block;
}